<html>
<head>
  <title>daily habits</title>
</head>
<body>
  <form action="/create-habit" method="post">
    <div>
        <label for="weight">Weight:</label>
        <input type="text" name="weight" />
    </div>

    <div class="button">
        <button type="submit">Send your message</button>
    </div>
</form>
</body>
</html>
